
.footer {
    background-color:white;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #e6d2d2;
    margin-top: 20vh;
   
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  span {
  
    float: right;
  }
  
  .footer-spacer {
    flex: 1;
  }
  