<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
  <h2 mat-dialog-title>{{btnSave}} Module</h2>
  <mat-divider></mat-divider>

<section class="section">
    <div class="container-fixed" style="max-height: 400px;">
        
         <div mat-dialog-content>
                <mat-table [dataSource]="listData"  matSort class="mat-elevation-z4">
                    <ng-container matColumnDef="select" >
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
                        <mat-checkbox (change)="toggleAllRows($event.checked)" [checked]="isAllSelected()"></mat-checkbox>
                        Check All
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row">
                        <mat-checkbox (change)="toggleRowSelection(row, $event.checked)" [checked]="isSelected(row)"></mat-checkbox>
                    </mat-cell>
                    </ng-container>

                    <ng-container *ngFor="let dc of displayedColumns" [matColumnDef]="dc" sticky >
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{dc}}</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element[dc]}}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="mergeColumns; sticky:true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: mergeColumns;">
                </mat-row>

                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="4">
                        <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
                    </mat-footer-cell>
                </ng-container>
        
                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        No data.
                    </mat-footer-cell>
                </ng-container>

                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': !isLoading}"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': module.length > 0}"></mat-footer-row>
                
                </mat-table>
                <!-- <mat-paginator class="mat-paginator-sticky" [pageSize]="10" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons> </mat-paginator>-->
            </div>
          
        </div>
        
        <div mat-dialog-actions>
             <button mat-raised-button color="primary" type="submit"> Save</button>
        </div>
</section>