

.custom-toolbar .mat-toolbar-row {
  height: 100px !important; /* Ensure the height is applied correctly */
}
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.spacer {
  flex: 1 1 auto;
}

.acct-icon {
  color: #3f51b5;
}

.business-name {
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #303f9f;
}
.navbar-nav {
  position: relative;
  padding: 2px;
  list-style-type: none;
  cursor: pointer;
 
}
.navbar-nav li a {
  text-decoration: none;
  color: inherit; /* Keep original color */
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}
/* Hover effect */
.navbar-nav li a:hover {
  background-color: #f7e2f2dc; /* Change this to your desired hover background color */
  color: #2b3cd8; /* Optional: change text color on hover */
}
.nav-item {
  display: inline-block;
}
mat-sidenav-container {
  height: 100%;
  background-color: transparent !important;
}

mat-sidenav {
  width: 350px;
}

.navbar {
  width: 100% !important;
  display: flex;
  flex-grow: 1;
}
 .arrow-drop-down{
  position: relative;
  top: 7px;
  left: -10px;
  margin-left: 10px;
  color: #000000A6;
}

.nav-toolbar {
  padding: 0 !important;
  font-size: 15px    !important;
  font-weight: 400 !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3f51b5;
  color: white;

}
.business-cont{
  width: 100%;
}
.nav-toolrow{
  padding: 0 !important;
}
.toggleButton {
  display: none;
}
@media only screen and (max-width: 958px) {
  .toggleButton {
      display: inline;
  }

  .navMenus {
      display: none !important;
      display: flex;
      justify-content: flex-end;
      list-style: none;
      flex-grow: 1;
      margin-right: 20px;
  }

  button.mat-menu-item {
      width: 350px !important;
  }
  .content{
    height: 100%;
  }
}
.navbar-nav {
  margin: 0 !important;; /* Pushes the items to the right */
  width: 100% !important;
  
}

.nav-item a{
  margin-left: 0%;
  justify-content: flex-end;
}

.custom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e42740;
  color: white;
  height: 50px !important;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  justify-content: flex-end; /* Ensures items align to the right */
  align-items: center;
  flex-grow: 1; /* Pushes this section to take up remaining space */
}

