<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-container">
  
    <mat-form-field appearance="fill">
      <mat-label>Employee ID</mat-label>
      <input matInput formControlName="employeeId" placeholder="Input Employee ID" autocomplete="off" required>
    
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Employee Name</mat-label>
      <input matInput formControlName="employeeName" placeholder="Input Employee Name" autocomplete="off" required>
   
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" placeholder="Input Address" autocomplete="off" required>
    
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Contact No</mat-label>
      <input matInput formControlName="contactNo" placeholder="Input Contact No" type="tel" autocomplete="off" required>
    
    </mat-form-field>
  
    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button style="background-color: rgb(212, 48, 48); color: white;" mat-stroked-button color="warn" type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>