/* General form styling */
.password-container {
    max-width: 400px;
    margin-top: 22px;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
  
  .dialog-title{
    text-align: left;
    margin-bottom: 20px;
  }
  /* Responsive Design for smaller devices */
  @media (max-width: 600px) {
    .password-container {
      max-width: 100%;
      padding: 1rem;
    }
    .dialog-title {
        font-size: 18px; /* Adjust the title size for mobile */
      }
    
      .close-icon {
        right: 8px; /* Adjust the close icon position on smaller screens */
        top: 8px;
      }
  
    h3 {
      font-size: 1.25rem;
    }
  
    button {
      font-size: 0.9rem;
    }
  }
  