

  <h2 mat-dialog-title class="dialog-title">
    Update Password
  </h2>
 
    <div class="password-container">
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <!-- Current Password -->
        <mat-form-field appearance="standard">
          <mat-label>Current Password</mat-label>
          <input matInput type="password" formControlName="currentPassword" required />
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
  
        <!-- New Password -->
        <mat-form-field appearance="standard">
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="newPassword" required />
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
  
        <!-- Confirm Password -->
        <mat-form-field appearance="standard">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" required />
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
  
        <div class="button-container">
            <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">
              Save
            </button>
            <button mat-raised-button color="warn" mat-dialog-close="true">
              Close
            </button>
          </div>
      </form>
    </div>

  