/* Ensures the grid list takes up the full width of its container */


/* Ensures each table container is scrollable if the content overflows */
.table-container {
  margin: 5px;
  overflow: auto;
  height: 100%;
  width: 100%;
}
mat-grid-tile{
  margin-top: 0px;
  width: 100%;
}
/* Applies styling to the table for better visibility and readability */
table {
  width: 100%;
  border-collapse: collapse;
}


/* Highlights the rows on hover for better interaction */
mat-row:hover {
  background-color: #eeeeee;
}

/* Ensures the table headers are sticky to the top of the container */
.mat-header-row {
  position: sticky;
  top: 0;
  background-color: inherit;
  z-index: 2;
}

/* Adds spacing between grid tiles */
mat-grid-tile {
  background: #ffffff;
  border: 2px solid #e0e0e0;


}
.search-div
{
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  position: sticky;
}

