<section class="section">
    <div class="search-div">
      <mat-form-field class="w-40" floatLabel="never" appearance="standard">
        <input matInput [(ngModel)]="searchKey" [placeholder]="placeHolder" (keyup)="applyFilter()" autocomplete="false">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button type="button" mat-raised-button color="primary" (click)="onClickNew()">
        <mat-icon>add_circle</mat-icon> New
      </button>
    </div>
    
    <div class="container-fixed" >
      <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
      <mat-table [dataSource]="listData" matSort class="mat-elevation-z4">
       
        <ng-container matColumnDef="userName">
          <mat-header-cell *matHeaderCellDef mat-sort-header >UserName</mat-header-cell>
          <mat-cell *matCellDef="let user">{{ user.userName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>FirstName</mat-header-cell>
          <mat-cell *matCellDef="let user">{{ user.firstName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>LastName</mat-header-cell>
          <mat-cell *matCellDef="let user">{{ user.lastName }}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="role">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
          <mat-cell *matCellDef="let user">{{ user.role }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="password">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Password</mat-header-cell>
          <mat-cell *matCellDef="let user">{{ user.password }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
          <mat-cell *matCellDef="let user">{{ user.address }}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="contactNo">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ContactNo</mat-header-cell>
          <mat-cell *matCellDef="let user">{{ user.contactNo }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
          <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
        </ng-container>
  
  
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
          <mat-cell *matCellDef="let user">
            <button mat-icon-button color="primary" (click)="editEmployee(user)"><mat-icon>edit</mat-icon> </button> 
            <button mat-icon-button color="warn" (click)="deleteEmployee(user)"><mat-icon>delete</mat-icon> </button>
          </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">
              <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
          </mat-footer-cell>
      </ng-container>
         <ng-container matColumnDef="noData">
              <mat-footer-cell *matFooterCellDef colspan="6">
                  No data.
              </mat-footer-cell>
          </ng-container>
          <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':!isLoading}"></mat-footer-row>
          <mat-footer-row *matFooterRowDef="['noData']"  [ngClass]="{'hide': users.length > 0}"></mat-footer-row>
    
        </mat-table>
        <mat-paginator class="mat-paginator-sticky" [pageSize]="10" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons> </mat-paginator>
    </div>
  </section>
  