/* src/app/components/employee-list/employee-list.component.css */
.container{
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
  }
  .search-div
{
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;

}

mat-table {
  width: 100%;
}

mat-table .mat-header-cell {
  font-size: 12px; /* Font size for header cells */
  font-weight: bold;
}

mat-table .mat-cell {
  font-size: 12px; /* Font size for data cells */
}

mat-table .mat-cell button {
  font-size: 11px; /* Font size for buttons in the actions column */
}

  mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Responsive design adjustments */
  @media (max-width: 789px) {
        
    mat-table {
      width: 100%;
    }

    mat-table .mat-header-cell {
      font-size: 12px; /* Font size for header cells */
      font-weight: bold;
    }

    mat-table .mat-cell {
      font-size: 12px; /* Font size for data cells */
    }

    mat-table .mat-cell button {
      font-size: 11px; /* Font size for buttons in the actions column */
    }
    mat-table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
    button[mat-icon-button] {
      padding: 6px; /* Reduce padding for smaller screens */
    }
  
    button[mat-icon-button] mat-icon {
      font-size: 20px; /* Decrease icon size */
    }
  }
  
  mat-footer-cell {
    text-align: center;
    padding: 16px;
    color: rgba(0, 0, 0, 0.54);
  }
  
  .hide {
    display: none;
  }
  
  /* Hide paginator if no data */
  mat-paginator {
    display: block;
  }
  
  .mat-footer-row.noData {
    display: table-row;
  }
  
  