/* src/app/components/employee-list/employee-list.component.css */
.container {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
  }
  .search-div
{
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;

}

  .mat-table {
    width: 100%;
  }
  
  mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Responsive design adjustments */
  @media (max-width: 767px) {
    .mat-table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }

  /* src/app/components/employee-list/employee-list.component.css */
.container {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
  }
  
  .mat-table {
    width: 100%;
  }
  
  mat-footer-row {
    display: block;
  }
  
  .mat-footer-cell {
    text-align: center;
    padding: 16px;
    color: rgba(0, 0, 0, 0.54);
  }
  
  .hide {
    display: none;
  }
  
  /* Hide paginator if no data */
  .mat-paginator {
    display: block;
  }
  
  .mat-footer-row.noData {
    display: table-row;
  }
  
  