<section class="section">

  <div class="search-div">
    <mat-form-field class="w-10" floatLabel="never"  appearance="standard">
        <input matInput [(ngModel)]="searchKey" [placeholder]="placeHolder" autocomplete="false">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <button type="button" mat-raised-button color="primary" (click)="addNewEmployee()"> <mat-icon>add_circle</mat-icon> New</button>
</div>

  <div class="mat-elevation-z2">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container *ngFor="let dc of defaultColumns" [matColumnDef]="dc" sticky >
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{dc}}</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element[dc]}}</mat-cell>
      </ng-container>
      
        <!-- Column Definitions -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>
      
        <!-- Header and Row Definitions -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
          <mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="onUpdate(element)"><mat-icon>edit</mat-icon> </button>
              <button mat-icon-button color="warn" (click)="onDelete(element)"><mat-icon>delete</mat-icon> </button>
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
            <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
        </mat-footer-cell>
     </ng-container>
       <ng-container matColumnDef="noData">
    
            <mat-footer-cell *matFooterCellDef colspan="6">
                    No data.
                </mat-footer-cell>
            </ng-container>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':!isTrue}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']"  [ngClass]="{'hide': employees.length > 0}"></mat-footer-row>
            
      </mat-table>
      
      <!-- Paginator -->
      <mat-paginator [length]="100"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]"
                     aria-label="Select page">
      </mat-paginator>
  </div>
</section>
